{% load static %}
{% load crispy_forms_tags %}
<DOCTYPE html!>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
 rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    
    <style>


    </style>
    <title>Login Page</title>
    </head>
    <body class="login-body">

        <div class="login-container">
           <form method="post" class="form" "{% url 'main:user_login' %}">
            {% csrf_token %}
           <div class="login-form" >
            {% block content %}
                   <div style="margin-left: 35px;">
                    
                        <img src="{% static 'main/images/insect.png' %}">  
                        <label>Bug Tracker Login </label>

                   </div>
                    <div class="form-floating" style="margin-bottom:15px;">
                        <input type="text" class="form-control" name="username" id="login_username" placeholder="Username">
                        <label for="login_username" class="form-label">Username</label>
                    </div>    
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="login_pass" placeholder="Password">
                        <label for="login_pass">Password</label>
                    </div>
                    
              
                   <div style="display: flex; justify-content: center; margin-top: 20px;"> 
                    
                   <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
                   </div> 
                   <div style="margin-top: 10px;" > 
                    
                    <small style = "text-muted"> Don't have an account? <a href="/register">Sign up here!</a></small>
                    <br>
                    <small> Forgot your password? <a href="#">Restore here</a></small>


                   </div> 
                   {% if messages %}
                   <ul class="messages">
                       {% for message in messages %}
                           <li class="{{ message.tags }}">{{ message }}</li>
                           {{ message.tags }}
                       {% endfor %}
                   </ul>
                   {% endif %}
            
                {% endblock %}
                   
            </form>  
           </div>
        </div>
        
    </body>
</html> 


