{% extends 'main/base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    {% comment %} $(document).ready(function () {
        $("#edit_button").click(function () {
            const fields = $("#myForm input[type='text']");

            fields.prop("disabled", function (i, val) {
                return !val;
            });

            if ($(this).text() === "Edit") {
                $(this).text("Save");
            } else {
                $.ajax({
                    type: "POST",
                    url: "{% url 'main:user_info_update'%}",  
                    data: $("#myForm").serialize() + "&csrfmiddlewaretoken={{ csrf_token }}",
                    success: function (response) {
                        // Handle success if needed
                        console.log(response.message);
                    },
                    error: function () {
                        // Handle error if needed
                    }
                });
            }
        });
    }); {% endcomment %}
 

       

</script>

<div class="py-5 text-center">
    <h1><span class="text-primary">Profile</span></h1>
    <br>
    <h5><span class="fw-light">This is your profile page, here you can change your personal info, password and find your projects</span></h5>
    <hr class="my-4">
</div>
<div class="row g-5" style="margin-top:40px;">
    <div class="col-md-6 col-lg-6 order-md-last">
        <h3>Projects</h3>
    </div>
    <div class="col-md-6 col-lg-6">
    <div class="row"> 
     <div class="col-md-3">
        <h3>Personal info</h3>
     </div>
     <div class="col-md-3">
        <button id="edit_button" type="submit" class="btn btn-primary" name="edit_button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
            </svg> 
            Edit
        </button>
    </div>
     </div>
     <fieldset disabled>
     <div class="container">
       <div class="row g-3">
         <div class="col-md-6">
            <form method="post" id="myForm" name="myForm">   
                {% csrf_token %}
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control w-50" placeholder="{{user.username}}" name="username">
            <div class="invalid-feedback">
                Valid last name is required.
              </div>
         </div>
        
        <div class="col-md-6">
            <label for="email" class="form-label">Email address</label>
            <input type="text" id="email" class="form-control w-50" placeholder="{{user_email}}" name="email"></input>
        </div>

     <fieldset>
     </div>
     
     </form>

 

    </div>


</div>
</div>

<br>
<div style="margin-top:20px;">
<a href="{% url 'password_change' %}">Change Password</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("myForm");
        const submitButton = document.getElementById("edit_button");
      
        submitButton.addEventListener("click", function() {
          const inputs = form.querySelectorAll("form");
          inputs.forEach(input => {
            input.disabled = false; 
          });
        });
      });
</script>
{% endblock %}